extends ../layouts/layout.pug

block content
    div(class="col-sm-4")
        h2=bookName
        h5 Title description, Dec 7, 2017
        div(class="fakeimg") Fake Image
        p Some text about me in culpa qui officia deserunt mollit anim..
    div(class="col-sm-4")
        h2 WHO AM I!
        h5 Title description, Dec 7, 2017
        div(class="fakeimg") Fake Image
        p Some text about me in culpa qui officia deserunt mollit anim..
    div(class="col-sm-4")
        h2 WHO AM I!
        h5 Title description, Dec 7, 2017
        div(class="fakeimg") Fake Image
        p Some text about me in culpa qui officia deserunt mollit anim..
    div(class="col-sm-4")
        h2 THE ALCHEMIST
        h5 Title description, Dec 7, 2017
        div(class="fakeimg") Fake Image
        p Some text about me in culpa qui officia deserunt mollit anim..
    div(class="col-sm-4")
        h2 WHO AM I!
        h5 Title description, Dec 7, 2017
        div(class="fakeimg") Fake Image
        p Some text about me in culpa qui officia deserunt mollit anim..
    div(class="col-sm-4")
        h2 WHO AM I!
        h5 Title description, Dec 7, 2017
        div(class="fakeimg") Fake Image
        p Some text about me in culpa qui officia deserunt mollit anim..
