doctype html
html(lang="en")
    head
        title= 'DEMO'
    body
        h1 Pug - node template engine
        #container.col
        if youAreUsingPug
            p. 
                You are amazing
                Let me show you!
        else
            p. 
                Get on it!
        p.
            Pug is a terse and simple templating ! language with a
            strong focus on performance and powerful features.
        p.
            Test ting helow.