div(class="col-sm-4")
    h2 About Me
    h5 Photo of me:
    div(class="fakeimg") Fake Image
    p Some text about me in culpa qui officia deserunt mollit anim..
    h3 Some Links
    p Lorem ipsum dolor sit ame.
    ul(class="nav nav-pills flex-column")
        li(class="nav-item")
            a(class="nav-link active" href="#") Active
        li(class="nav-item")
            a(class="nav-link" href="#") Link
        li(class="nav-item")
            a(class="nav-link" href="#") Link
        li(class="nav-item")
            a(class="nav-link disabled" href="#") Disabled
    hr(class="d-sm-none")